@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "vars";
@import "extends";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
background-image: url("../images/dest/bgstars.jpg");
 background-color: rgba($color: #000000, $alpha: 0.9);
 background-blend-mode: multiply;
 background-size: cover;
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
 color: $textcolor;
 height: 1400px;
}

//SECTION START

.s-start {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}

.s-start__info {
  position: relative;
  @extend %container;
  height: 100%;
}

img.text-element {
  display: block;
  position: absolute;
  top: 21%;
  left: 18.8%;
}

.square-info {
  position: absolute;
  right: 10%;
  top: 25%;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.square-info__el {
  width: 180px;
  height: 180px;
  margin: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-transform: lowercase;
  }
  .text-top {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .numbers-in {
    font-size: 35px;
    font-weight: 600;
  }
}

.square-color1 {
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.09567577030812324) 75%, rgba(255,255,255,0.196516106442577) 100%);
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(255,255,255,0.09567577030812324);
}

.square-color2 {
  background: linear-gradient(225deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.03405112044817926) 75%, rgba(255,255,255,0.05085784313725494) 100%);
  border-left: 2px solid rgba($color: #000000, $alpha: 0);
  border-bottom: 2px solid rgba($color: #000000, $alpha: 0);
}

.square-color3 {
  background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.03405112044817926) 75%, rgba(255,255,255,0.05085784313725494) 100%);
  border-top: 2px solid rgba($color: #000000, $alpha: 0);
  border-right: 2px solid rgba($color: #000000, $alpha: 0);
}

.square-color4 {
  background: linear-gradient(325deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.03405112044817926) 75%, rgba(255,255,255,0.05085784313725494) 100%);
  border-top: 2px solid rgba($color: #000000, $alpha: 0);
  border-left: 2px solid rgba($color: #000000, $alpha: 0);
}
//HIDDEN BLOCK WITH INFO
.hidden-infoblcok {
  display: none;
 position: absolute;
 bottom: 0;
 width: 100%;
 justify-content: center;
 align-items: stretch;
 .infoblock__el {
  flex: 1;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  border-top: .5px solid rgba($color: $textcolor, $alpha: 0.3);
  border-right: .5px solid rgba($color: $textcolor, $alpha: 0.3);
  background-color: rgba($color: #000000, $alpha: .3);
 }
//  .infoblock__el:first-child {border-left: .5px solid rgba($color: $textcolor, $alpha: 0.3);}
}


//BANNER
.banner {
  position: absolute;
  top: 20%;
  h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 600;
  }
}
.banner-text-h1 {
  color: transparent;    
	background-clip: text;
	background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 81, 0) 30%);
}
.secret-letter {
  color: transparent;    
	background-clip: text;
	background-image: linear-gradient(140deg, rgb(255, 81, 0) 50%, rgba(174, 0, 255, 0.02) 50%);
}
.banner-text-small {
  color: transparent;    
	background-clip: text;
  background-image: linear-gradient(86deg, rgb(255, 255, 255) 0%, rgb(255, 81, 0) 40%);
  text-transform: lowercase;
  font-size: 25px;
}

//DECORATION
.decoration {
  position: absolute;
  width: 575px;
  height: 100px;
  top: 55%
}

.decoration-construction {
  width: 100%;
  height: 100%;
}
.rocket-point {
  position: absolute;
  bottom: 0%;
  right: -1%;
  background-color: rgba($color: #000000, $alpha: 0.6);
  border: .5px solid white;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  transition: all 2s ease-in-out;
  z-index: 2;

  animation: pointanimate 3s infinite;
}

@keyframes pointanimate {
  0% {transform: scale(1); background-color: rgba($color: #000000, $alpha: 0.6)}
  50% {transform: scale(3); background-color: rgba(255, 81, 0, .5);}
  100% {transform: scale(1); background-color: rgba($color: #000000, $alpha: 0.6)}
}

.rocket-line1 {
  position: absolute;
  bottom: 2%;
  right: 0;
  width: 59%;
  height: 1px;
  background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 70%);
  z-index: 1;
}

.rocket-line2 {
  position: absolute;
  bottom: 27%;
  left: 25.2%;
  width: 17%;
  height: 1px;
  transform: rotate(30deg);
  background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 70%);
  z-index: 1;
}

.img-rocket {
  position: absolute;
  top: 62%;
  left: 49.5%;
}

//BUTTON
.button-position {
  position: absolute;
  top: 12%;
}
.button {
  width: 200px;
  height: 35px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #5784ff, #003483);
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: rgba($color: #0a6cff, $alpha: .3)
}

.button-text {
  font-size: 12px;
  white-space: nowrap;
}

.button__border-left{
  width: 3px;
  height: 3px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  bottom: -1px;
  left: -1px;
  box-shadow: -1px 1px 10px rgb(255, 255, 255);
}

.button__border-right{
  width: 3px;
  height: 3px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  top: -1px;
  right: -1px;
  box-shadow: 1px -1px 10px rgb(255, 255, 255);
}